@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Hind+Siliguri:wght@500&family=Karla:wght@400;500&family=Lato&family=Merriweather&family=Noto+Serif+JP:wght@600&family=Poppins:wght@100;300;400&family=Raleway:ital,wght@1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
 }
header a {
     text-decoration: none;
     color: #ffffff;
     font-size: 20px;
 }
 .header a:hover{
     color: rgb(177, 143, 211);
 }
 .logo {
     font-size: 38px;
     color: #fff;
     font-weight: 700;
     filter: drop-shadow(0 0 5px #09001d);
 }
.container{
 
    min-height: 100vh;
    background: linear-gradient(135deg , #67154c , #083f5f);
    padding: 10px;

} 
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    margin: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(247, 68, 68);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(file:///C:/Users/OP/Downloads/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(file:///C:/Users/OP/Downloads/checked.png);

}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0;
}